{% extends "::adminPagePanel.html.twig" %}
{% block scripts %}
{% endblock %}
{% block body %}
<div id="sidebar">
   
        <ul class="main-nav">
            {% for m in menu %}
                {% if(active==m.id) %}
                    <li class="active"> 
                        <a href="{{ path('admin_page_homepage',{'t':m.id}) }}" ><i class="fa {{ m.descripcion }} fa-home"></i> {{ m.nombre }}</a>
                    </li>        
                {% else %}
                    <li>
                        <a href="{{ path('admin_page_homepage',{'t':m.id}) }}" ><i class="fa {{ m.descripcion }} fa-home"></i> {{ m.nombre }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

</div> <!-- /sidebar -->

<div id="content" class="clearfix">

    <div class="header">

        <h1 class="page-title"></h1>


    </div> <!-- /header -->

    <div class="breadcrumbs">
        <i class="fa fa-home"></i> Inicio <i class="fa fa-caret-right"></i> {{ name }}
    </div>

    <div class="wrp clearfix">

        <a class="btn icon-button" href="{{ path('evento_new') }}" ><i class="fa fa-edit"></i> Nuevo</a>
        <div class="fluid">

            <div class="widget grid12">
                <div class="widget-header">
                    <div class="widget-title">
                        <i class="fa fa-paperclip"></i> {{ name }}
                    </div>
                    <div class="widget-controls">
                        <input type="checkbox" id="switch-ui" />
                        <label class="switch" for="switch-ui"><i></i></label>
                    </div>
                </div> <!-- /widget-header -->

                <div class="widget-content">

    <table class="records_list">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Descrip</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.evento }}</td>
                <td>{{ entity.descrip }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.hora|date('H:i:s') }}</td>
                <td>
                        <a class="btn icon-button" href="{{ path('evento_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a>
                </td>        
                <td>        
                        <a class="btn icon-button" href="{{ path('evento_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                </div>

            </div> <!-- /widget -->

        </div> <!-- /fluid -->

    </div> <!-- /wrp -->

</div> <!-- /content -->
{% endblock %}
