{% extends "::adminPagePanel.html.twig" %}
{% block scripts %}
{% endblock %}
{% block body %}
<div id="sidebar">
    
    <ul class="main-nav">
        {% for m in menu %}
        {% if(active==m.id) %}
            <li class="active"> 
                <a href="{{ path('admin_page_homepage',{'t':m.id}) }}" ><i class="fa {{ m.descripcion }} fa-home"></i> {{ m.nombre }}</a>
            </li>        
        {% else %}
            <li>
                <a href="{{ path('admin_page_homepage',{'t':m.id}) }}" ><i class="fa {{ m.descripcion }} fa-home"></i> {{ m.nombre }}</a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div> <!-- /sidebar -->

<div id="content" class="clearfix">


    <div class="breadcrumbs">
        <i class="fa fa-home"></i> Inicio <i class="fa fa-caret-right"></i> {{ name }}
    </div>

    <div class="wrp clearfix">

        
        <a class="btn icon-button" href="{{ path('admin_page_Comunicado') }}" ><i class="fa fa-edit"></i> Nuevo</a>
        
        <div class="fluid">

            <div class="widget grid12">
                <div class="widget-header">
                    <div class="widget-title">
                        <i class="fa fa-paperclip"></i> {{ name }}
                    </div>
                    <div class="widget-controls">
                        <input type="checkbox" id="switch-ui" />
                        <label class="switch" for="switch-ui"><i></i></label>
                    </div>
                </div> <!-- /widget-header -->

                <div class="widget-content">

     <table style="width:100%;">
             <th>De...</th>
             <th>Titulo</th>
             <th>Descripcion</th>
             <th>Fecha Publicacion</th>
             <th>Fecha Limite</th>
         </tr>
         {% for new in news %}
            <tr>
                 <td>{{ new.usuario.name }}</td>
                 <td>{{ new.titulo }}</td>
                 <td>{{ new.descripcion|slice(0, 50)~ '...' }}</td>
                 <td>{{ new.fechaPub|date('Y-m-d') }}</td>
                 <td>{{ new.fechaLimite|date('Y-m-d') }}</td>
                 <td><a class="btn icon-button" href="{{ path('admin_page_getComunicado',{ 'id': new.id })  }}"><i class="fa fa-edit fa-1x"></i></a></td>
                 <td><a class="btn icon-button" href="{{ path('admin_page_delComunicado',{ 'id': new.id })  }}"><i class="fa fa-times-circle fa-1x"></i></a></td>
            </tr>    
         {% endfor %}
     </table>    


                </div>

            </div> <!-- /widget -->

        </div> <!-- /fluid -->

    </div> <!-- /wrp -->

</div> <!-- /content -->{% endblock %}


